.reset-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.reset {
  border: 2px solid black;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  cursor: pointer;
}
